<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Admin Panel</title>
    <style>
        * {
            box-sizing: border-box;
        }

        #myTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
        }

        #myTable th, #myTable td {
            text-align: left;
            padding: 12px;
        }

        #myTable tr {
            border-bottom: 1px solid #ddd;
        }

        #myTable tr.header, #myTable tr:hover {
            background-color: #f1f1f1;
        }
    </style>
</head>
<body>
<table id="myTable">
    <tr class="header">
        <th style="width:60%;">Пользователи</th>
    </tr>

    <tr th:each="user,iter : ${users}">
        <td th:text="${user.firstName + ' ' + user.lastName}">FIRSTNAME LASTNAME
        </td>
        <td>
            <form method="POST" enctype="multipart/form-data" th:action="@{/admin/adminPanel/delete/{id}(id = ${user.id})}">
                <input type="submit" value="Удалить"/>
            </form>
        </td>
        <td th:text="${roles[iter.index]}">ROLE
        </td>
    </tr>
</table>
</body>
</html>