<!DOCTYPE html>
<html lang="rus" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<title>База эссе</title>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <style>
        * {
            box-sizing: border-box;
        }

        #myTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
        }

        #myTable th, #myTable td {
            text-align: left;
            padding: 12px;
        }

        #myTable tr {
            border-bottom: 1px solid #ddd;
        }

        #myTable tr.header, #myTable tr:hover {
            background-color: #f1f1f1;
        }
    </style>
</head>
<body>

<h2>Сдавшие эссе</h2>

<table id="myTable">
    <tr class="header">
        <th style="width:60%;">База эссе</th>
    </tr>

    <tr th:each="user,iter : ${users}">
        <td th:text="${user.firstName + ' ' + user.lastName}">FIRSTNAME LASTNAME
        </td>
        <td>
            <form method="GET" enctype="multipart/form-data" th:action="@{/essaysDatabase/upload/{id}(id = ${user.id})}">
                <input type="submit" value="Скачать"/>
            </form>
        </td>
        <td th:text="${essays[iter.index]}">
        </td>
    </tr>
</table>
<div class="form-group">
    <form method = "GET" action="/logout">
        <button type="submit" class="btn btn-success">Logout</button>
    </form>
</div>
</body>
</html>