input[type=description]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
hr {
    size: 10px;
    color: black;
    background-color: black;
    width: 1000px;
}
text{
    padding: 130px;
}
.submitbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 20px 130px;
    border: none;
    cursor: pointer;
    width: 80%;
    opacity: 0.9;
}
.essaytbtn{
    border-color: black;
    margin: 0px 1000px;
    cursor: pointer;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}